/*VARIABLER*/
:root {
    --lightblue: #2C4F78;
    --darkblue: #0B2848;
    --darkestblue: #010D2D;
    --lightorange: #F39200;
    --darkorange: #F75C14;
    --whitetext: white;
    --shadow: 3px 3px 8px #525252;
}

*{padding: 0;
margin: 0;
font-family: basic;
}

h2{
    font-size: 1.95em;
    color: var(--darkestblue);
    font-family: basic;
}

h3{
    font-size: 1.5em;
    color: var(--darkestblue);
    font-family: headline;
}

h4{
    font-size: 1.3em;
    color: var(--darkestblue);
    font-family: headline;
}

p {
    color: var(--darkestblue);
    font-size: 1.1em;
    font-family: basic;
}

/*FONTE*/
@font-face {
    font-family: basic;
    src: url(../fonts/FiraSans-Light.ttf);
}

@font-face {
    font-family: headline;
    src: url(../fonts/FiraSans-Medium.ttf);
}

@font-face {
    font-family: extraFat;
    src: url(../fonts/FiraSans-Bold.ttf);
}

/*GENERAL*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.orangebutton {
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    border: 1.5px white solid;
    background-color: var(--lightorange);
    color: white;
    font-family: headline;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}
.whitebutton {
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    border: 1.5px var(--lightorange) solid;
    background-color: white;
    color: var(--lightorange);
    font-family: headline;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

.whitebutton:hover, .orangebutton:hover {
    animation: buttonani 300ms;
    animation-fill-mode: forwards;
}

.active{
   border-bottom: var(--darkorange) 2px solid;
}
.onlydesktop{
    display: none;
}

/*Scrollbar*/
body::-webkit-scrollbar-track{
    background-color: #F5F5F5;
}

body::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear,
                                       left top,
                                       left bottom,
                                       color-stop(0.40, var(--darkestblue)),
                                       color-stop(1, var(--lightorange)));
}

/*ANIMATIONER*/
@keyframes blink {
    0% { transform: scale(1); bottom: 180px;}
    10% {transform: scale(1); bottom: 180px;}
    20% {transform: scale(1); bottom: 180px;}
    30% {transform: scale(1.5); bottom: 150px;}
    40% {transform: scale(1.5); bottom: 150px;}
    50% { transform: scale(1); bottom: 180px;}
    100% { transform: scale(1); bottom: 180px;}
}

@keyframes buttonani {
    0% {transform: rotate(0.01turn)}
    30% {transform: rotate(0turn)}
    60%{transform: rotate(-0.01turn)}
    100% {transform: rotate(0turn)}
}

@keyframes fade1 {
    0%, 25%, 100% { opacity:0}
    3%, 22% {opacity: 1;}
}
@keyframes fade2 {
    0%, 25%, 50%, 100% {opacity:0}
    28%, 47% {opacity: 1;}
}
@keyframes fade3 {
    0%, 50%, 75%, 100% {opacity:0}
    53%, 72% {opacity: 1;}
}
@keyframes fade4 {
    0%, 75%, 100% {opacity:0}
    78%, 97% {opacity: 1;}
}

/*NAVIGATION*/
nav {
    height: 70px;
    background: linear-gradient(var(--lightblue),var(--darkestblue));
}

nav img {
    height: 50px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--darkblue)
}

nav ul {
    display: none;
    list-style: none;
    background-color: var(--lightorange);
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: headline;
    margin-top: -3px;
    position: absolute;
    z-index: 9999;
}

#menu.display {
    display: block;
    left: 0;
}

nav ul li {
    width: 90%;
    margin-right: 90px;
    font-size: 18px;
    padding: 10px 10px;
    cursor: pointer;
}

nav ul li:hover {
    font-weight: bolder;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: var(--shadow);
    clip-path: none;
    width: 100px;
    z-index: 9999;
}
.dropdown li {
    padding-top: 5px; 
    padding-bottom: 5px;  
    width: 100%;
    padding: 5px;
    font-weight: 100;
    float: none;
}

#ydelser:hover .dropdown {
    display: inline-block;
    left: 0;
    top: 90px;
    position: absolute;
  }

  /*BURGERMENU, ANIMATION*/
  #burger{
      position: absolute;
      right: 10px;
      top: 25px;
    width: 35px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #burger span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--lightorange);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #burger span:nth-child(1) {
    top: 0px;
  }
  
  #burger span:nth-child(2) {
    top: 10px;
  }
  
  #burger span:nth-child(3) {
    top: 20px;
  }
  
  #burger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #burger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #burger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


/*-----------------FOOTER------------*/
footer{
    background-color: var(--darkblue);
width: 100%;
padding-bottom: 50px;
display: flex;

}
footer a{
text-decoration: none;
color: white;
}
footer div{
width: 50%;
color: white;
display: flex;
padding-top: 5%;
width: 80%;
color: white;
font-size: 15px;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;
margin: auto;
}
.venstrefooter ul{
font-size: 15px;
}
.some{
display: flex;
flex-direction: row;
width: 100%;
}
.some img{
width: 40px;
}

footer ul{
list-style-type: none;
text-align: center;
}

footer img {
width: 70px;
max-width: 300px;
margin: auto;
padding: 30px;
}
.pris{
color: orange;
padding-top: 35px;

}
.telefon li{
font-size: 25px;
padding-bottom: 30px;
}
.mail li{
font-size: 25px;
}



/*LOADER*/
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: var(--loader-background-color);
    text-align: center;
  }
  
  .spinner {
    border: 5px solid var(--light-grey);
    border-radius: 50%;
    border-top: 5px solid var(--light-green);
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

/*FORSIDE*/
#landingpage{
    height: 40vh;
    min-height: 270px;
    max-height: 290px;
    width: 100%;
    background: linear-gradient(var(--lightblue),var(--darkblue));
    padding-top: 70px;
}

#giantlogo{
    display: none;
}

#landingpage h2 {
    color: var(--lightorange);
    width: 100%;
    text-align: center;
}

.cta_container {
display: flex;
margin: auto;
justify-content: space-around;
margin-top: 35px;
width: 100%;    
top: 250px;
}

.cta_container div {
    width: 40%;
}

.socialmedia {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 120px;
}

.socialmedia img {
    height: 50px;
    padding: 20px;
}

.socialmedia img:hover {
    transform: scale(1.2);
}

.arrowdown{
position: relative;
display: flex;
margin: auto;
margin-top: 220px;
transform: translate(-50%);
width: 50px;
animation: blink 3300ms infinite;
}

#telephone{
    display: none;
}

.row {
    flex-direction: column;
    position: relative;
}

#tilbyder {
    width: 90%;
    display: block;
    margin: auto;
}
#tilbyder article {
    display: flex;
    justify-content: center;
}

.rightbottomline {
    border-right: 3px var(--lightorange) solid;
    border-bottom: 3px var(--lightorange) solid;
    height: 120px;
    width: 100%;
    text-align: center;
}
.rightbottomline h2 {
    padding: 6px;
    margin-top: 60px;
}

#width{
    width:0%;
}

.leftline {
    border-left: 3px var(--lightorange) solid;   
    width: 100%;
}

.stik1 {
    position: absolute;
    height: 40px;
    width: 30px;
    object-fit: scale-down;
    display: inline-block;
    transform: rotate(180deg);
    z-index: 1000; 
    bottom: -12px;
    left:-13.312px;
}

.leftline p {
    line-height: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#se_mere {
    padding: 10px 30px;
    margin-left: 20px;
    font-size: 1.3em;
    color: var(--lightorange);
    background-color: inherit;
    border: 2px solid var(--lightorange);
    margin-top: 25px;
cursor: pointer;
}

#se_mere:hover{
transform: scale(1.05);
}

#rightkeyelements {
    padding: 20px;
    padding-top: 90px;
    width: 90%;
    border-left: 3px solid var(--lightorange);
}

#rightkeyelements div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#margintopbot{
    margin-top: 30px;
    margin-bottom: 35px;
}
    
    #rightkeyelements div div {
        display: flex;
        flex-direction: column;
align-items: flex-start;
        width: 60%;
    }

    #rightkeyelements img {
        height: 60px;
        padding-right: 20px;
    }

#aboutus{
    width: 100%;
    margin-top: 100px;
}

#linesabout {
    width: 90%;
    margin: auto;
display: flex;
flex-wrap: wrap;
}

#aboutleft {
    width: 0%;
}

#aboutrightline{
    width: 100%;
    height: 20px;
    border-right: 3px solid var(--lightorange);
}

#aboutright {
    width:100%;
    text-align: center;
    border-bottom: 3px solid var(--lightorange);
}

#aboutusinner{
    background-color: var(--darkblue);
    color: var(--whitetext);
}

#aboutusinner ul {
    list-style: circle;
    list-style-position: inside;
    padding-bottom: 65px;
}

#aboutusinner h3, #aboutusinner h4, #aboutusinner p{
    color: var(--whitetext);
}

#aboutusinner div {
    width: 90%;
    margin: auto;
}
#aboutusinner div div {
display: flex;
justify-content: space-around;
flex-direction: row-reverse;
}

#aboutusinner div div div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#aboutusinner div div img {
    width: 29%;
    height: 29%;
    border-radius: 50%;
    object-fit: scale-down;
    border: 3px solid var(--lightorange);
    margin-right: -30px;
    margin-top: 65px;
}

#rightline {
    border-right: 3px solid var(--lightorange);
    box-sizing: border-box;
}

#rightline {
    border-right: 3px solid var(--lightorange);
}

#endingline {
    height: 20px;
    display: flex;
}

#topleftline {
    border-top: 3px solid var(--lightorange);
    border-left: 3px solid var(--lightorange);
    height: 20px;
    padding-left: 3px;
}

.column h3 {
    font-size: 20px;
    font-weight: 300;
}

.column h4 {
    font-size: 17px;
font-style: italic;
    font-family: basic;
    font-weight: lighter;
    padding-bottom: 20px;
}

#contactfrontpage {
    width: 90%;
    margin: auto;
    position: relative;
}

#contactfrontpage div {
height: 100px;
display: flex;
margin-bottom: 100px;
}

#contactfrontpage div div{
    width: 50%;
}

#contactfrontpage ul {
    list-style-image: url('../images/swoosh_small.png');
    list-style-position: inside;
    font-size: 19px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#contactfrontpage ul li {
    padding: 10px;
}

#contactfrontpage button {
    background-color: var(--darkblue);
    border: none;
}

#contactfrontpage #rightline{
position: relative;
}

#contactfrontpage #rightline::after{
content: url('');
position: absolute;
transform: rotate(180deg);
background-image: url(../images/stik.png);
height: 40px;
width: 40px;
background-size: contain;
background-repeat: no-repeat;
bottom: -10px;
right: -10.45px;
}

/*TESTIMONIAL SLIDER*/
.testimonial-slider {
    display: block;
    width: 90%;
    height: auto;
margin: auto;
margin-top: 100px;
 }
 
 .testimonial-slider ul.cssslider {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
 }
 
 .testimonial-slider ul.cssslider li {
     position: absolute;
     display: block;
     width: 100%;
     opacity: 0;
 }
 .testimonial-slider ul.cssslider li:nth-child(1) {
     opacity: 1;
             animation: fade1 25s infinite;
 }
 .testimonial-slider ul.cssslider li:nth-child(2) {
             animation: fade2 25s infinite;
 }
 .testimonial-slider ul.cssslider li:nth-child(3) {
             animation: fade3 25s infinite;
 }
 .testimonial-slider ul.cssslider li:nth-child(4) {
             animation: fade4 25s infinite;
 }
 
 .testimonial-slider-content{
width: 100%;
 }

 .testimonial-slider h2 {
     max-width: 600px;
     margin: auto;
 }

 .testimonial-slider q {
     position: relative;
    display: block;
    letter-spacing: .5pt;
    max-width: 500px;
    margin: auto;
    font-size: 16px;
 }
 
 .testimonial-slider .kilde {
     margin-top: 10px;
     color: var(--lightorange);
     font-style: italic;
     max-width: 500px;
     margin: auto;
 }

 /*OM-SIDEN*/
#aboutpage{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    line-height: 23px;
    margin-top: 50px;
}

#aboutpage div {
    max-width: 500px;
}

#aboutpage h2 {
    margin-bottom: 25px;
}

#logowidtafter{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#aboutimage {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 100px;
}

#aboutimage img {
    width: 100px;
    border-radius: 50%;
    border: 3px solid var(--lightorange);
}
#aboutimage div {
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: 3px solid var(--lightorange);
}

#aboutimage div:before {
    content: "";
    position: absolute;
    height: 80px;
    width: 3px;
    background-color: var(--lightorange);
    top:-30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}
#aboutimage div:after {
    content: "";
    position: absolute;
    background: url(../images/stik.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    top:-50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

#width90{
    width: 90%;
    margin: auto;
}

#kompetencecontainer {
    width: 300px;
    height: 500px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    border: 3px solid var(--lightorange);
}

#kompetencecontainer img {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kompetencecontainer:after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--lightorange);
    height: 50px;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
}

#kompetencecontainer:before {
    content: "";
    position: absolute;
    background: url(../images/stik_down.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    bottom: -79px;
    left: 50%;
    transform: translate(-50%);
}

#lineone{
    position: absolute;
height: 70px;
width: 200px;
border-top: 1.5px solid var(--lightorange);
border-right: 1.5px solid var(--lightorange);
top:100px;
left: -120px;
}

#lineone::after{
    content: "";
    position: absolute;
    background: url(../images/stik_down.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    bottom: -28px;
  right: -8px;
}

#lineone::before{
    content: "";
    position: absolute;
    background: url(../images/soren.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    border: 1.5px solid var(--lightorange);
    bottom: 30px;
 left: -80px;
  border-radius: 50%;
}

#linetwo{
    position: absolute;
    height: 70px;
    width: 200px;
    border-top: 1.5px solid var(--lightorange);
    border-left: 1.5px solid var(--lightorange);
    top:100px;
    right: -120px;
}

#linetwo::after{
    content: "";
    position: absolute;
    background: url(../images/stik_down.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    bottom: -28px;
  left: -7px;
}

#linetwo::before{
    content: "";
    position: absolute;
    background: url(../images/nicolai.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    border: 1.5px solid var(--lightorange);
    bottom: 30px;
  right: -80px;
  border-radius: 50%;
}

#linethree{
    position: absolute;
    height: 70px;
    width: 200px;
    border-bottom: 1.5px solid var(--lightorange);
    border-left: 1.5px solid var(--lightorange);
    bottom:100px;
    right: -120px; 
}

#linethree::after{
    content: "";
    position: absolute;
    background: url(../images/stik.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    bottom: 68px;
  left: -7px;
}

#linethree::before{
    content: "";
    position: absolute;
    background: url(../images/soren.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    border: 1.5px solid var(--lightorange);
    bottom: -41px;
  right: -80px;
  border-radius: 50%;
}

#linefour{
    position: absolute;
    height: 70px;
    width: 200px;
    border-bottom: 1.5px solid var(--lightorange);
    border-right: 1.5px solid var(--lightorange);
    bottom:100px;
    left: -120px;    
}

#linefour::after{
    content: "";
    position: absolute;
    background: url(../images/stik.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 14px;
    bottom: 68px;
  right: -8px;
}

#linefour::before{
    content: "";
    position: absolute;
    background: url(../images/nicolai.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    border: 1.5px solid var(--lightorange);
    bottom: -41px;
  left: -80px;
  border-radius: 50%;
}

.specs{
    position: absolute;
    color: var(--darkblue);
    width: 155px;
}

.specs p {
    font-size: 17px;
}

#spec1{
    left:-365px;
    top: 45px;
    text-align: right;
}

#spec2{
    right:-365px;
    top: 45px;
}

#spec3{
    right:-365px;
    top: 345px;
}

#spec4{
    left:-365px;
    top: 345px;
    text-align: right;
}

@media (min-width: 1275px) {
    .specs{
    width: 240px;
}
#spec1, #spec4{
    left:-460px;
}
#spec3, #spec2{
    right:-460px;
}
}


  /*KONTAKT*/
.contact {
    width: 90%;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 100px;
}

.contact h2 {
    color: var(--lightorange);
    text-align: center;
}

.contact_form_box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact_form_box form input {
    padding: 10px;
    border: 1px solid var(--lightblue);
    margin-top: 15px;
    width: 90%;
}

.contact_form_box form textarea {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid var(--lightblue);
    width: 90%;
}

.contact_form_box form input::placeholder,.contact_form_box form textarea::placeholder {
    color: var(--lightblue);
    font-size: 16px;
    font-family: headline;
}

.contact_form_box form input:focus, .contact_form_box form textarea:focus{
    outline: none;
    border: 1px solid var(--lightorange);
    box-shadow: var(--shadow);
}

.contact_form_box .orangebutton {
    border: none;
}

.callus{
    margin: auto;
    text-align: center;
}
.callus h2 {
    color: var(--lightorange);
    margin-top: 50px;
}
#contactydelse{
    margin-top: 50px;
}
/*-------------Service page mobile---------------*/
.servicebox1{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    
    margin: auto;
    
    
    
    }
    .it-tvlistedesktopel{
        display: none;
        width: 30%;
        
    }
    .it-tvlistedesktopapple{
        display: none;
        
        margin-left: 60px;
    }
    .picandboxs{display: none;}
    
    .kasse1-service a{
       
        background-color:var(--lightorange);
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
       
    } 
    
    
    
    .kasse1-service img{
        height: 70px;
        width: 70px;
    }
    
    .kasse1-service{
        margin: auto;
        margin-top: 5%;
        width: 48%;
       height: 40%;
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    
    
   .kontaktbillede{
       display: none;
   } 
   .buttonandimgdektop{
       display: none;
   }
   .buttonandimgdektop img{
       display: none;
   }
   .desktoppng{display: none;}
    .overkasse{
        display: flex;
        flex-direction: column;
        width: 100%;
        
       
    }
    /* Slideshow containeren */
    
    .slideshow-container {
        margin-top: 10%;
        position: relative;
        background: #f1f1f1f1;
      }
      
      /* Slides */
      .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
      }
      
      /* næst og tilbage knap */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* next knappen til højre */
      .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* hover effekt med baggrundsfarve */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
      }
      
      /* containenen til kuglen */
      .dot-container {
          text-align: center;
          padding: 20px;
          background: #ddd;
      }
      
      /* Selve kuglen med farve */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      /* Tilføjer baggrundsfarve når der er klikket */
      .active2, .dot:hover {
        background-color:white;
      }
      
    .desktopservicebox{
        position:absolute;
        top: 100px;
        left: 5%;
        background-color: var(--white);
        z-index: 500;
     
    
    }

     #apple, #alarmogsikkerhed, #eloginstallation, #ittv{
         display: none;
         
         
         background-color: var(--darkblue);
         text-align: center;
         width: 90%;
         margin: auto;
         box-shadow: var(--shadow);
         
         border-radius: 25px;
         
         
     }
     
     .it-tvlistedesktop{
         display: none;
     }
     #apple img, #alarmogsikkerhed img, #eloginstallation img, #ittv img{
         height: 50%;
         width: 100%;
         margin-top: -15%;
         border-radius: 25px 25px 0px 0px;
        
         
         
        
     }
     #apple h2, #alarmogsikkerhed h2, #eloginstallation h2, #ittv h2{
         color:var(--lightorange);
         margin-top: 5%;
         font-size: 35px;
        
     }
     #apple h4, #alarmogsikkerhed h4, #eloginstallation h4, #ittv h4{
        color:var(--lightorange);
        margin-top: 5%;
    }
     #apple p, #alarmogsikkerhed p, #eloginstallation p, #ittv p{
        color:var(--lightorange);
        font-size: 18px;
    }
    .it-tvlistemobile h4{
        text-align: center;
        font-size: 25px;
    }
    .it-tvlistemobile ul{
        color: var(--lightorange);
        list-style: none;
        
    }
    .it-tvlistemobile li{
        color: var(--lightorange);
        list-style: none;
        font-size: 25px;
        text-align: center;
        
        
    }
    .orangebuttonydelse {
        font-size: 1.1em;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: var(--lightorange);
        color: white;
        font-family: headline;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 20%;
        max-width: 250px;
        cursor: pointer;
  
        border-radius: 5px;
        
    }
    .bluebuttonydelse {
        font-size: 1.1em;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: var(--lightorange);
        color: white;
        font-family: headline;
        width: 200px;
        margin-bottom: 10%;
        margin-top: 10%;
        max-width: 250px;
        cursor: pointer;
        
        border-radius: 5px;
        
    }
    .bluebuttonydelselistbox{ font-size: 1.1em;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: var(--darkblue);
        color: white;
        font-family: headline;
        width: 200px;
        margin-bottom: 10%;
        margin-top: 10%;
        max-width: 250px;
        cursor: pointer;
        
        
        border-radius: 5px;
        
    }
    .orangebuttonservice {
        font-size: 1.1em;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: var(--lightorange);
        color: white;
        font-family: headline;
        width: 100%;
        margin: auto;
        
        margin-bottom: 10%;
        margin-top: 20%;
        max-width: 250px;
        cursor: pointer;
  
        border-radius: 5px;
        
    }
    .bluebuttonservice {
        font-size: 1.1em;
        padding: 15px 15px 15px 15px;
        border: none;
        background-color: var(--darkblue);
        color: white;
        font-family: headline;
        width: 100%;
        margin: auto;
        
        margin-bottom: 10%;
        margin-top: 20%;
        max-width: 250px;
        cursor: pointer;
  
        border-radius: 5px;
        
    }
    .kontaktmobile {
        display: flex;
        flex-direction: column;
        
    }
    #closex{
        position: absolute;
        right: 10px;
        

      
        top: 11px;
    }
    
    .it-tvtekst{
        margin-top: 40px;
    }
    .buttongrup h2{
        text-align: center;
        color: var(--lightorange);
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .customslider h3{
        text-align: center;
        margin-top: 5%;
        color: var(--lightorange);
        margin-bottom: -5%;
        margin-top: 10%;
    }
    
    .Erhverv h4{
        margin-top: 5%;
        padding-top: 5%;
        color: var(--lightorange);
        
    }
    .Erhverv{
        width: 90%;
        background-color: var(--darkblue);
        margin: auto;
        text-align: center;
        color: var(--lightorange);
        border-radius: 5px;

        
        
    }
    .privat h4{
        margin-top: 5%;
        padding-top: 5%;
        color:var(--darkblue)
    }
    .privat{
        text-align: center;
        width: 90%;
        height: 50%;
        margin: auto;
        background-color: var(--lightorange);
        color: var(--darkblue);
        
        
        
    }
    #option{height: 100%;
    width: 100%;}
    
/*----------------BLOG----------*/
#bloghero {
    width: 100%;
    height: 50vh;
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    min-height: 230px;
}

#bloghero h2,#bloghero p{
    position: absolute;
    width: 100%;
    color: white;
}

#bloghero h2::after {
    content: "";
    position: absolute;
    width: 100px;
    border-top: 5px solid var(--lightorange);
    margin: auto;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    top: 53px;
}

#bloghero h2 {
    top: 10vh;
}

#bloghero p {
    top: 30vh;
}

#filters {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#filters input, #filters select {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
}
#filters select:focus, #filters input:focus{
    outline: none;
}

#post_container {
    width: 90%;
    margin: auto;
}

#post_container article {
    box-shadow: var(--shadow);
    margin-bottom: 40px;
}

#post_container img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

#post_container h2, #post_container p {
    width: 90%;
    margin: auto;
}

#post_container p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bloglogo {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    top: 38vh;
}


/*--------------TABLET---------------------*/
@media (min-width: 600px) {
    .desktopservicebox {
        position: absolute;
        top: 200px;
        
       
        z-index: 500;
    }
  }
  


  /*---------------DESKTOP-----------------*/
  @media (min-width: 1024px) {
/*FONTE DESKTOP*/
h2{
    font-size: 3.5em;
    color: var(--darkestblue);
    font-family: basic;
}

h3{
    font-size: 2.5em;
    color: var(--darkestblue);
    font-family: headline;
}

h4{
    font-size: 1.5em;
    color: var(--darkestblue);
    font-family: headline;
}

p {
    color: var(--darkestblue);
    font-size: 1.2em;
    font-family: basic;
}


      /*DESKTOP NAV*/
    nav {
        height: 100px;
    }
    nav img {
        height: 80px;
        padding: 10px;
    }

    nav ul {
        position: absolute;
        margin: 0;
        top: 0;
        padding: 0;
        right: 0;
        display: flex;
        height: 100px;
        width: 60%;
        justify-content: flex-end;
    }

    nav ul li {
        position: relative;
        margin-right: 34px;
        width: auto;
    }

    .dropdown{
        height: auto;
        margin-top: -50px;
    }

    nav::before{
        content: "";
        position: absolute;
        background-color: black;
        height: 100px;
        z-index: 99999;
        width: 140px;
        transform: skew(-30deg);
        left: 35%;
        background: linear-gradient(var(--lightblue),var(--darkestblue));
    }

    @media (min-width: 3000px) {
        nav::before{
        left: 32%;
        width: 190px;
    }
    nav ul li {
        margin-right: 84px;
    }}

    #burger {
        display: none;
    }


     /*------------FOOTER DESKTOP-------------*/
.some {
    width: 50%;
}

footer .contact_form_box form textarea, footer .contact_form_box form input {
    width: 55%;
}

footer .contact_form_box form textarea{
    margin-bottom: 30px;
}

footer h2, footer p{
    text-align: center;
    color: white;
}

    /*GENERAL DESKTOP*/
    .onlymobile{
        display: none;
    }

    .onlydesktop{
        display: block;
    }

    /*FORSIDE DESKTOP*/
    #landingpage{
    height: calc(97.9vh - 150px);
    min-height: 600px;
    max-height: inherit;
    position: relative;
  }
  #landingpage h2 {
    position: relative;
    color: var(--lightorange);
    max-width: 600px;
    top: 20%;
    left: 8%;
    text-align: left;
}
.cta_container {
    width:600px;
    margin-left: 8%;
    margin-top: 190px;
    }

    .cta_container div {
        width: 300px;
    }

    .cta_container .orangebutton, .cta_container .whitebutton {
        width: 70%;
        max-width: inherit;
        font-size: 1.5em;
        padding: 16px 5px;
    }

    .socialmedia{
        display: block;
    }

    .arrowdown {
        margin-top: 325px;
    }

    #telephone{
        display: block;
        position: absolute;
        bottom: 40px;
        left: 120px;
    }

    #telephone h3 {
        color: var(--lightorange);
        font-weight: lighter;
    }

    #telephone img {
        width: 30px;
        padding-right: 20px;
    }

    #telephone a {
        text-decoration: none;
        display: flex;
    }

    #telephone:hover a {
        transform: scale(1.1);
    }

    .rightbottomline {
        width: 50%;
        height: 100px;
    }

    #width {
        width:50%;
    }

    .leftline {
        padding: 20px;
        width: 60%;
    }

    .leftline p {
        line-height: 30px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 20px;
    }
#se_mere {
    margin-left: 0;
}

    #rightkeyelements {
        width: 40%;
        margin-top: 0;
        padding: 0;
        padding-top: 20px;
        border-left: none;
    }

    .row {
        flex-direction: row;
    }

    #rightkeyelements div {
        justify-content: flex-end;
    }

    #aboutleft{
width: 65%;
    }
    #aboutright{
        width: 35%;
        text-align: left;
    }

    #aboutrightline {
        margin-right: -2px;
    }

    #aboutusinner div{
        width: 95%;
    }

    #rightline{
        border-right: 0;
    }

    #aboutusinner div div {
        flex-direction: row;
    }

    #aboutusinner div div.column {
       width: 40%;
    }

    #aboutusinner div div img {
        border-radius: 0;
        margin: auto;
        margin-top: 50px;
        box-sizing: border-box;
    }

    #borderpluspadding {
        width: 90%;
        box-sizing: border-box;
        padding-bottom: 30px;
        border-right: 3px solid var(--lightorange);
        border-bottom: 3px solid var(--lightorange);
    }

    #aboutusinner div #soren{
        widows: 90%;
        flex-direction: row-reverse;
        border-left: 3px solid var(--lightorange);
        padding-bottom: 50px;
    }

    #endingline {
        display: none;
    }

    #contactfrontpage #rightline {
        border-left: 3px solid var(--lightorange);
        border-right: 3px solid white;
        margin-left: -3px;
    }

    #rightline::after {
        left:-32px;
    }

    .testimonial-slider q {
       font-size: 22px;
    }
    
    .testimonial-slider .kilde {
  font-size: 22px;
    }

    #contactfrontpage h2, #contactfrontpage p, #contactfrontpage ul {
        max-width: 600px;
        margin: auto;
    }
    #contactfrontpage .orangebutton {
        margin-left: 50%;
        transform: translate(-50%);
    }
    #contactfrontpage .orangebutton:hover{
 animation: none;
 margin-left: 45.55%;
transform: scale(1.05);
    }

    #giantlogo {
        display: block;
        height: 60vh;
        position: absolute;
        top: 20vh;
        right: -50px;
        opacity: 0.1;
    }
 /*-------service desktop---------*/
 .overkasse{flex-direction: row;
        
 }
 .desktopservicebox{
    position:absolute;
    top: 100px;
    left: 0;
    background-color: var(--white);
    z-index: 500;
 

}
    .desktopservicebox h2 {
       color:var(--lightorange);
       font-size: 3.55em;
    }
    .desktopservicebox p {
        
        color:var(--lightorange);
        
     }
     .desktopservicebox ul {
        direction:rtl;
        list-style-image: url('../images/flueorange.png');
        margin-top:5%;
        color:var(--lightorange);
        font-size: 2em;
    } 
     /** ydelse**/
     #option{
         display: flex;
         flex-direction: row;
         
     }
     
      
     .Erhverv{
         width: 100%;
         height: 600px;
         margin-top: 18%;
         border: 3xp solid;
         border-color: var(--darkorange);
     }
     .privat{
         
         width: 100%;
         height: 600px;
         
         border: 3xp solid;
         border-color: var(--darkblue);
     }
     
     /* service veiw*/
     .customslider{
         width: 90%;
         margin: auto;
         max-width: 800px;
     }
     .picandboxs{
         
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin: auto;
         

         
     }
     .pic {
         position: absolute;
         z-index: 1;
     }
     .pic img{

         height: 400px;
         width: auto;
     }
     .listbox{
         
         display: flex;
         flex-direction: column;
         align-items: center;
         
         margin-left: 600px;
         margin-top: 20px;
         position: relative;
         z-index: 2;
         height: 350px;
         width: 350px;
         background-color: var(--lightorange);
         
     }
     .listbox h4{
         color: var(--darkestblue);
         margin-top: 5%;
     }
     .listbox ul{
         margin-top: 10%;
        list-style-image: url('../images/fluemedcirkel.png');

     }
     .listbox li{
         line-height: 20px;
     }
     #semereknap{
         margin-top: 10%;
     }

     /***displaynoneveiw*/
     .Appleprodukt{
         display: none;
     }
     .Alarm{display: none;}
     
     .El{display: none;}


     
      .it-tvtekst{
          text-align: center;
      }
      .mobilkontaktpic{
          display: none;
      }
      #apple img, #alarmogsikkerhed img, #eloginstallation img, #ittv img{
        height: 75px;
        width: 75px;
        border-radius: 50px;
        margin: auto;
        margin-left: 5%;
        
        
    }
    
     


    .buttonmobile {
        display: none;
    }
    

      /**** buttons*/
      .orangebuttonydelse {
        font-size: 1.1em;
        padding: 15px 10px 15px 10px;
        border: none;
        background-color: var(--lightorange);
        color: white;
        font-family: headline;
        width: 200px;
        margin-top: 30px;
        max-width: 250px;
        cursor: pointer;
        margin-left: 30%;
    }
   
    .bluebuttonydelse {
        font-size: 1.1em;
        padding: 15px 10px 15px 10px;
        border:none;
        background-color: var(--lightblue);
        color: white;
        font-family: headline;
       width: 200px;
        margin-top: 12%;
        max-width: 250px;
        cursor: pointer;
        margin-left: 30%;
        margin-top: 17%;
    }
     #alarmogsikkerhed, #ittv{
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         margin: auto;
        margin-top: 5%;
        
        width: 90%;
        height: 55%;
        max-width: 1200px;
        background-color:var(--darkblue);
        position: relative;
        padding-bottom: 2%;
       
        
       
        
    }
    #apple, #eloginstallation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        margin-top: 5%;
       
        width: 90%;
        height: 55%;
        max-width: 1200px;
        background-color: var(--lightorange);
        position: relative;
        padding-bottom: 2%;
        
    }
       
      
       
   
   .it-tvlistedesktopel{
    display: block;
    width: 30%;
    margin-right: 65px;
}
.it-tvlistedesktopapple{
    display: block;
    width: 30%;
}
   
   #apple h2, #eloginstallation h2{
       color: var(--darkblue)

   }
   #apple p, #eloginstallation p{
    color: var(--darkblue)

}
#apple li{
    margin-left: 30%;
}
#apple ul, #eloginstallation ul{
    list-style-image: url(../images/Flueblue.png);
    color: var(--darkblue);
    
    width: 100%;
}

    
   .it-tvlistemobile{display: none;}

   .it-tvlistedesktop {
       display: block;
       color: var(--darkblue);
       margin-right: 50px;
      
       
   }
   
   
   
    
   .servicebox1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin: auto;
    }
    .kasse1-service{
        margin: auto;
        margin-top: 5%;
        width: 70%;
       height: 40%;
       margin: 2%;
       display: flex;
       flex-direction: column-reverse; 
    }
    .kasse1-service a{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: white;
        
    }
    .buttonandimg{
        display: flex;
        flex-direction: row;
        width: 30%;
    }
    .buttonandimg img{
        display: block;
    }
    .overskrifandtext{
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-right: 10%;
    }
    .overskrifandtextel{
        width: 48%;
        margin-right: 25%;

    }
    .skriftandliste {display: flex;
        flex-direction: row;
       
        
    }
    /*KONTAKT DESKTOP*/
    .contact .contact_form_box form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact .contact_form_box {
        max-width: 800px;
        margin: auto;
    }

    .contact_form_box form input {
        width: 45%;
    }

    .contact_form_box form textarea {
        width: 100%;
    }

    .contact_form_box .orangebutton {
     margin: auto;
     margin-top: 15px;
    }
    #contactydelse{
        margin-top: 300px;}


    /*DESKTOP BLOG*/
    #post_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #post_container article {
        width: 30%;
        height: auto;
    }

    #bloghero h2::after {
        top: 95px;
    }

    #bloghero{
        background-color: #323C56;
        background-image: none;
    }

    #filters input, #filters select {
        width: 50%;
        max-width: 400px;
    }


    /*ABOTU DESKTOP*/
    #aboutpage{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 150px;
    }

    #aboutpage div {
        width: 50%;
        margin-left: 100px;
        margin-right: 100px;
    }

    #solution{
        width: 600px;
        margin: auto;
        margin-top: 140px;
    }

    #solution h2{
        text-align: center;
    }
}