/*VARIABLER*/
:root {
    --lightblue: #2C4F78;
    --darkblue: #0B2848;
    --darkestblue: #010D2D;
    --lightorange: #F39200;
    --darkorange: #F75C14;
    --whitetext: white;
    --shadow: 6px 6px 10px black;
}

*{padding: 0;
margin: 0;}

h2{
    font-size: 1.95em;
    color: var(--darkestblue);
    font-family: basic;
}

h3{
    font-size: 1.5em;
    color: var(--darkestblue);
    font-family: headline;
}

h4{
    font-size: 1.3em;
    color: var(--darkestblue);
    font-family: headline;
}

p {
    color: var(--darkestblue);
    font-size: 1.1em;
    font-family: basic;
}

/*FONTE*/
@font-face {
    font-family: basic;
    src: url(../fonts/FiraSans-Light.ttf);
}

@font-face {
    font-family: headline;
    src: url(../fonts/FiraSans-Medium.ttf);
}

@font-face {
    font-family: extraFat;
    src: url(../fonts/FiraSans-Bold.ttf);
}

/*GENERAL*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.orangebutton {
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    border: 1.5px white solid;
    background-color: var(--lightorange);
    color: white;
    font-family: headline;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}
.whitebutton {
    font-size: 1.1em;
    padding: 10px 0 10px 0;
    border: 1.5px var(--lightorange) solid;
    background-color: white;
    color: var(--lightorange);
    font-family: headline;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}

.whitebutton:hover, .orangebutton:hover {
    animation: buttonani 300ms;
    animation-fill-mode: forwards;
}

.active{
   border-bottom: var(--darkorange) 2px solid;
}
.onlydesktop{
    display: none;
}

/*Scrollbar*/
body::-webkit-scrollbar-track{
    background-color: #F5F5F5;
}

body::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear,
                                       left top,
                                       left bottom,
                                       color-stop(0.40, var(--darkestblue)),
                                       color-stop(1, var(--lightorange)));
}

/*ANIMATIONER*/
@keyframes blink {
    0% { transform: scale(1); bottom: 180px;}
    10% {transform: scale(1); bottom: 180px;}
    20% {transform: scale(1); bottom: 180px;}
    30% {transform: scale(1.5); bottom: 150px;}
    40% {transform: scale(1.5); bottom: 150px;}
    50% { transform: scale(1); bottom: 180px;}
    100% { transform: scale(1); bottom: 180px;}
}

@keyframes buttonani {
    0% {transform: rotate(0.01turn)}
    30% {transform: rotate(0turn)}
    60%{transform: rotate(-0.01turn)}
    100% {transform: rotate(0turn)}
}

/*NAVIGATION*/
nav {
    height: 70px;
    background: linear-gradient(var(--lightblue),var(--darkestblue));
    overflow: visible;
}

nav img {
    height: 50px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--darkblue)
}

nav ul {
    display: none;
    list-style: none;
    background-color: var(--lightorange);
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    float: right;
    padding: 0;
    margin: 0;
    font-family: headline;
    overflow: visible;
    margin-top: -3px;
    position: relative;
    z-index: 9999;
}

#menu.display {
    display: block;
    left: 0;
}

nav ul li {
    width: 90%;
    margin-right: 90px;
    font-size: 18px;
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    overflow: visible;
}

nav ul li:hover {
    font-weight: bolder;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: var(--shadow);
    clip-path: none;
    width: 100px;
    z-index: 9999;
    overflow: visible;
}
.dropdown li {
    padding-top: 5px; 
    padding-bottom: 5px;  
    width: 100%;
    padding: 5px;
    font-weight: 100;
    float: none;
}

#ydelser:hover .dropdown {
    display: inline-block;
    left: 0;
    top: 60px;
  }

  /*BURGERMENU, ANIMATION*/
  #burger{
      position: absolute;
      right: 10px;
      top: 25px;
    width: 35px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #burger span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--lightorange);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #burger span:nth-child(1) {
    top: 0px;
  }
  
  #burger span:nth-child(2) {
    top: 10px;
  }
  
  #burger span:nth-child(3) {
    top: 20px;
  }
  
  #burger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #burger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #burger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


/*FORSIDE*/
#landingpage{
    height: 40vh;
    min-height: 270px;
    max-height: 290px;
    width: 100%;
    background: linear-gradient(var(--lightblue),var(--darkblue));
    padding-top: 70px;
}

#landingpage h2 {
    color: var(--lightorange);
    width: 100%;
    text-align: center;
}

.cta_container {
display: flex;
margin: auto;
justify-content: space-around;
margin-top: 35px;
width: 100%;    
top: 250px;
}

.cta_container div {
    width: 40%;
}

.socialmedia {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 120px;
}

.socialmedia img {
    height: 50px;
    padding: 20px;
}

.socialmedia img:hover {
    transform: scale(1.2);
}

.arrowdown{
position: relative;
display: flex;
margin: auto;
margin-top: 220px;
transform: translate(-50%);
width: 50px;
animation: blink 3300ms infinite;
}

#telephone{
    display: none;
}

.row {
    flex-direction: column;
}

#tilbyder {
    width: 90%;
    display: block;
    margin: auto;
}
#tilbyder article {
    display: flex;
    justify-content: center;
}

.rightbottomline {
    border-right: 3px var(--lightorange) solid;
    border-bottom: 3px var(--lightorange) solid;
    height: 70px;
    width: 100%;
    text-align: center;
}
.rightbottomline h2 {
    padding: 6px;
    margin-top: 20px;
}

#width{
    width:0%;
}

.leftline {
    border-left: 3px var(--lightorange) solid;   
    width: 100%;
}

.leftline p {
    line-height: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#se_mere {
    padding: 10px 30px;
    margin-left: 20px;
    font-size: 1.3em;
    color: var(--lightorange);
    background-color: inherit;
    border: 2px solid var(--lightorange);
    margin-top: 25px;
cursor: pointer;
}

#se_mere:hover {
transform: scale(1.05);
}

#rightkeyelements {
    margin-top: 50px;
    width: 90%;
    padding: 20px;
}

#rightkeyelements div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#margintopbot{
    margin-top: 30px;
    margin-bottom: 35px;
}
    
    #rightkeyelements div div {
        display: flex;
        flex-direction: column;
align-items: flex-start;
        width: 60%;
    }

    #rightkeyelements img {
        height: 60px;
        padding-right: 20px;
    }

#aboutus{
    width: 100%;
    margin-top: 100px;
}

#linesabout {
    width: 90%;
    margin: auto;
display: flex;
flex-wrap: wrap;
}

#aboutleft {
    width: 0%;
}

#aboutrightline{
    width: 100%;
    height: 20px;
    border-right: 3px solid var(--lightorange);
}

#aboutright {
    width:100%;
    text-align: center;
    border-bottom: 3px solid var(--lightorange);
}

#aboutusinner{
    background-color: var(--darkblue);
    color: var(--whitetext);
}

#aboutusinner ul {
    list-style: circle;
}

#aboutusinner h3, #aboutusinner h4, #aboutusinner p{
    color: var(--whitetext);
}

#aboutusinner div {
    width: 90%;
    margin: auto;
}
#aboutusinner div div {
width: 100%;
display: flex;
justify-content: space-around;
}

#aboutusinner div div div {
    width: 45%;
    display: flex;
    flex-direction: column;
}

/*--------------TABLET---------------------*/
@media (min-width: 600px) {

  }
  


  /*---------------DESKTOP-----------------*/
  @media (min-width: 1024px) {
/*FONTE DESKTOP*/
h2{
    font-size: 3.5em;
    color: var(--darkestblue);
    font-family: basic;
}

h3{
    font-size: 2.5em;
    color: var(--darkestblue);
    font-family: headline;
}

h4{
    font-size: 1.5em;
    color: var(--darkestblue);
    font-family: headline;
}

p {
    color: var(--darkestblue);
    font-size: 1.2em;
    font-family: basic;
}


      /*DESKTOP NAV*/
    nav {
        height: 100px;
    }
    nav img {
        height: 80px;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        background-color: var(--lightorange);
        clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%);
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        width: 65%;
        height: 100px;
        float: right;
        padding: 0;
        margin: 0;
        margin-top:0;
        font-family: headline;
        overflow: visible;
    }

    nav ul li {
        padding: 30px 0;
        width: auto;
    }

    /*GENERAL DESKTOP*/
    .onlymobile{
        display: none;
    }

    .onlydesktop{
        display: block;
    }

    /*FORSIDE DESKTOP*/
#landingpage{
    height: calc(97.9vh - 150px);
    min-height: 600px;
    max-height: inherit;
  }
  #landingpage h2 {
    position: relative;
    color: var(--lightorange);
    max-width: 600px;
    top: 20%;
    left: 8%;
    text-align: left;
}
.cta_container {
    width:600px;
    margin-left: 8%;
    margin-top: 190px;
    }

    .cta_container div {
        width: 300px;
    }

    .cta_container .orangebutton, .cta_container .whitebutton {
        width: 70%;
        max-width: inherit;
        font-size: 1.5em;
        padding: 16px 5px;
    }

    .socialmedia{
        display: block;
    }

    .arrowdown {
        margin-top: 325px;
    }

    #telephone{
        display: block;
        position: absolute;
        bottom: 40px;
        left: 120px;
    }

    #telephone h3 {
        color: var(--lightorange);
        font-weight: lighter;
    }

    #telephone img {
        width: 30px;
        padding-right: 20px;
    }

    #telephone a {
        text-decoration: none;
        display: flex;
    }

    #telephone:hover a {
        transform: scale(1.1);
    }

    .rightbottomline {
        width: 50%;
        height: 100px;
    }

    #width {
        width:50%;
    }

    .leftline {
        padding: 20px;
        width: 60%;
    }

    .leftline p {
        line-height: 30px;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 20px;
    }
#se_mere {
    margin-left: 0;
}

    #rightkeyelements {
        width: 40%;
        margin-top: 0;
    }

    .row {
        flex-direction: row;
    }

    #rightkeyelements div {
        justify-content: flex-end;
    }

    #aboutleft{
width: 65%;
    }
    #aboutright{
        width: 35%;
        text-align: left;
    }
}